
<div class="mySlides" style="background-color:red"></div>
<div class="mySlides" style="background-color:blue"></div>
<div class="mySlides" style="background-color:yellow"></div>
<div class="mySlides" style="background-color:green"></div>
<div class="mySlides" style="background-color:white"></div>
<div class="mySlides" style="background-color:black"></div>
<div class="mySlides" style="background-color:pink"></div>
<div class="mySlides" style="background-color:purple"></div>
<div class="mySlides" style="background-color:silver"></div>
<div class="mySlides" style="background-color:orange"></div>
<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.opacity = "0";
    x[i].style.zIndex = i;
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.opacity = "1";
  setTimeout(carousel, 4000); // Change image every 2 seconds
}
</script>
