<div class="navigation-container">
  <a href="/"><div class="logo"></div></a>
  <div class="main-menu">
      <div class="main-menu-link">
        <label class="menu-link-label">Our Approach</label>
        <div class="sub-menu-links">
            <a class="sub-menu-link" href="/approach/montessori.html">What is Montessori?</a>
            <a class="sub-menu-link" href="/approach/eyfs.html">What is the EYFS?</a>
        </div>
      </div>
      <div class="main-menu-link">
        <label class="menu-link-label">Our Provision</label>
        <div class="sub-menu-links">
            <a class="sub-menu-link" href="/provision/childcare.html">Childcare</a>
            <a class="sub-menu-link" href="/provision/parents.html">Parent partnership</a>
            <a class="sub-menu-link" href="/provision/nutrition.html">Nutrition</a>
            <a class="sub-menu-link" href="/provision/send.html">SEND local offer</a>
            <a class="sub-menu-link" href="/provision/funding.html">Funding</a>
        </div>
      </div>
      <div class="main-menu-link">
        <label class="menu-link-label">Our Locations</label>
        <div class="sub-menu-links">
            <a class="sub-menu-link" href="/locations/walthamstow.html">Walthamstow</a>
            <a class="sub-menu-link" href="/locations/crossharbour.html">Crossharbour</a>
            <a class="sub-menu-link" href="/locations/goodmayes.html">Goodmayes</a>
        </div>
      </div>
      <div class="main-menu-link">
        <label class="menu-link-label no-sub">
          <a href="/contact.html">Contact Us</a>
        </label>
      </div>
    </div>
  </div>
</div>
