#carousel-container {
  width: 100vw;
  height: 35vw;
  position: relative;
}

.mySlides {
  width: auto;
  height: 100%;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
